
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
display: flex;
flex-direction: column;
min-height: 100vh;
background-color: #fafafa;
color: hsl(0,0%, 20%);
font-family: 'Roboto', sans-serif;
}

main {
  flex: 1;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  margin-top: 20px;
}


header {
    background-color: hsla(0, 0%, 100%,0.85 );
    color: black;
    max-height: 75px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: 'Lora', serif;
    padding: 10px;
}
h1{
    font-weight: 600;
}

h2{
  margin-top: 15px;
}



.exhibition-hero{
position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
}
.hero-visit img{
  width: 100%;
  height: 50%;
}

/*Mobile meny*/

a {
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: #777;
  }
  
 
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list .hamburger-item {
    margin-bottom: 10px;
    transition: margin-bottom 0.3s;
  }
  
  .menu-list a {
    text-decoration: none;
    color: black;
    padding: 6px 8px;
    display: block;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    border-radius: 3px;
  }
  
  .menu-list a:hover {
    color: white;
    background-color: #777;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .menu-list a:active {
    color: white;
    background-color: #777;
}
  
  
  .mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    width: 100%;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    margin: auto 3px;
  }
  
  
  .meny {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    z-index: 1;
  }
  

  #hamburger-menu:checked + .meny {
    display: block;
  }
  
  #hamburger-menu {
    display: none;
  }
  /*Ikke ferdig.*/
  .hamburger-item a {
    text-decoration: none;
    color: #010101; 
    display: flex;
    align-items: center; 
  }
  .fa-solid {
    margin-right: 15px; 
    color:  #7FFFD4;
  }
  /*Knappen Donate*/
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .donate-btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    background-color: #7FFFD4; 
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .donate-btn:hover {
    background-color: #6BBEC8;
  }
  
  


/*Bilder*/
.logo img{
    height: auto;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.hero img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.hero-explore-exhibition img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}

/*CSS carousel*/
.css-carousel-container {
  overflow-y: none;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
}
.css-carousel-container img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.box {
  height: 200px;
  width: 200px;
  background: white;
  margin-right: 5px;
  flex-shrink: 0;
  scroll-snap-align: start;
}
  
  /*Cards hovedsiden*/

  .cards, .cards-small {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:0 3px 6px rgba(0, 0, 0, .12),
    0 2px 4px rgba(0, 0, 0, .24);
    border: 1px solid hsl( 0, 0%, 94%);
    padding: 12px;
    margin: 20px auto;   
    transition-duration: 0.2s;
  }
  .cards-small{
    background-color: rgb(245,245,245);
    color: black;
  }
  
  .cards-news {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .cards-small {
    display: flex;
    flex-direction: row;
  }
  .cards-small > * {
    flex: 1;
  }
  .cards-news img, .cards-small img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow:0 3px 6px rgba(0, 0, 0, .12),
    0 2px 4px rgba(0, 0, 0, .24);
  }
  
  .cards-news-description, .cards-news-description-small {
    text-align: center;
    margin: 10px;
  }
  .cards-news {
    align-items: center;
  }
  .cards-news-small {
    align-items: center;
  }
  

  .cards:hover {
  transform: scale(1.025);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.cards-small:hover {
    transform: scale(1.025);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/*Cards på exhibition*/
.cards-exhibitions {
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}


.cards-exhibitions.card-dark .cards-exhibitions-description {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0.1) 0%,
    hsla(0, 0%, 0%, 0.9) 100%
  ),
  url('../img/adrien-olichon-9zhsq3o1k60-unsplash_11zon.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
}
.cards-exhibitions.card-light .cards-exhibitions-description {
  background: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0.1) 0%,
    hsla(0, 0%, 100%, 0.7) 100%
  ),
  url('../img/jean-philippe-delberghe-75xPHEQBmvA-unsplash_11zon.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #000;
}
.cards-exhibitions-description h2 {
  margin-top: 0;
}

.cards-exsplore-exhibitions img{
 width: 100%;
 height: auto;
 display: block;
 top: 0;
 left: 0;
 background-image: url('./img/adris-george-1-1_11zon.jpg');
}


.cards-exhibitions-description p{
  margin-top: 6px;

}
.cards-exhibitions-description {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 0px 10px 24px 10px;


}
.cards-exhibitions-description p:first-child{
  margin-top: 0;

}
/*VISIT*/
.visit{
  line-height: 1.6;
  margin-bottom: 20px;
}

.map{
  padding: 10px;
  display: flex;
  justify-content: center;
}
.map iframe{
  width: 100%;
  max-width: 360px;
  height: 250px;

}


.opening-hours {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px 0;
  white-space: nowrap;
}

strong {
  margin-right: 10px;
  color: #555;
}

.additional-info p {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}


/*Donate siden*/
.donation-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 100px auto 0 auto;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

.donation-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.donation-options div {
  display: flex;
  justify-content: center;
}
.donation-options label {
  margin: 0 24px 0 6px;
}

input[type="text"] {
  padding: 8px;
  margin-top: 5px;
}

.donate-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  text-decoration: none; 
  display: inline-block; 
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.donate-button:hover {
  background-color: #45a049;
}

.volunteering, .support, .internships {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.volunteering, .support, .internships h2 {
  color: #333;
}

.volunteering, .support, .internships p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}

/*Footer*/
.gradient-footer {
  width: 100%;
  height: 250px;
  background: linear-gradient(to right top, rgba(127, 555, 212, 0.7), rgba(250, 250, 250, 0.7));
  color: black;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  margin-top: -17px; 
}

.gradient-footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right top, rgba(127, 555, 212, 0), rgba(250, 250, 250, 0));
}


    
    