* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fafafa;
    color: black;
    border-bottom: solid 1px black;
    max-height: 75px;
    padding: 0;
    display: flex;
    align-items: center;
}
body{
    background-color: #fafafa;
    color: black;
}

footer{
    background-color: rgb(127, 555, 212);
    color: black;
}

/*Mobile first*/
ul {
    list-style-type: none;
    padding: 0;
    color: black;
  }
  
  ul li a {
    text-decoration: none;
  }
  
  ul li a:hover {
    color: black;
    background-color: rgb(127, 555, 212);
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list .menu-item {
    margin-bottom: 20px;
    transition: margin-bottom 0.3s;
  }
  
  .menu-list .menu-item a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    display: block;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    border-bottom: 10px solid transparent;
  }
  
  .menu-list .menu-item a:hover {
    color: white;
    background: #333;
  }
  
  .mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    width: 100%;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 28px;
    z-index: 1;
    margin: auto 5px;
  }
  
  .meny {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
  }
  
  #hamburger-menu:checked + .meny {
    display: block;
  }
  
  #hamburger-menu {
    display: none;
  }
  


.logo img{
    height: auto;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}



.hero img{
    width: 100%;
    height: auto;
}





/*Sections*/

.section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section-1{
    background-image:
    linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        #1d1d1d 90%
    ),
    url(./img/museum2.jpg);

        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
}