@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* ? Variabler */
:root{
  --med-padding: 15px;
  --lg-padding: 24px;

  --color-white-100: hsl(0, 0%, 96%);
  --color-white-200: hsl(0, 0%, 90%);
  --color-white-300: hsl(0, 0%, 83%);
  --color-white-400: hsl(0, 0%, 72%);

  --color-black-900: hsl(0,0%, 20%);
  --color-black:     hsl(0,0%, 0%);

  --color-primary-100: #DFFFF5;
  --color-primary-400: #7FFFD4;
  --color-primary-700: #56988E;

  --transparent-light: hsla(0, 0%, 0%, .1);

  --box-shadow-sm: 0 3px 6px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  --box-shadow-md: 0 6px 10px rgba(0, 0, 0, .12), 0 3px 6px rgba(0, 0, 0, .24);
  --box-shadow-lg: 0 10px 20px rgba(0, 0, 0, .12);

  --transition: 0.2s;
}

/* ? Globale klasser */
.btn {
  padding: 10px 18px;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.btn-primary {
  background-color: var(--color-primary-700);
  color: var(--color-primary-100);
  border-color: var(--color-primary-700);
  box-shadow: var(--box-shadow-sm);
  transition-duration: var(--transition);
}
.btn-primary:hover {
  background-color: var(--color-primary-100);
  color: var(--color-primary-700);
  border-color: var(--color-primary-700);
  box-shadow: var(--box-shadow-md);
}
.btn-secondary {
  background-color: transparent;
  color: var(--color-primary-700);
  border-color: var(--color-primary-700);
  transition-duration: var(--transition);
}
.btn-secondary:hover {
  background-color: var(--color-primary-700);
  color: var(--color-primary-100);
  border-color: var(--color-primary-700);
}
.btn-tetiary {
  background-color: transparent;
  color: var(--color-primary-700);
  transition-duration: var(--transition);
}
.btn-tetiary:hover {
  background-color: var(--transparent-light);
  color: var(--color-primary-700);
  border-color: var(--transparent-light);
}
.card-bg-primary-dark {
  background-color: var(--color-primary-700);
  color: var(--color-white-100);
}
.card-bg-primary-dark h2 { color: var(--color-primary-100); }
/* Liten skygge */
.box-shadow-sm {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12),
              0 2px 4px rgba(0, 0, 0, .24);
}
/* Mellom stor skygge */
.box-shadow-md {
  box-shadow: 0 6px 10px rgba(0, 0, 0, .12),
              0 3px 6px rgba(0, 0, 0, .24);
}
/* Stor skygge */
.box-shadow-lg { box-shadow: 0 10px 20px rgba(0, 0, 0, .12); }

/* Wildcard(alle objekter) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
  color: var(--color-black-900);
  font-family: 'Roboto', sans-serif;
}
main {
  flex: 1;
  margin-bottom: 15px;
}
footer {
  text-align: center;
  margin-top: 20px;
}
header {
    background-color: hsla(0, 0%, 100%,0.85 );
    color: black;
    max-height: 75px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: 'Lora', serif;
  padding: 10px;
}
h1 { font-weight: 600; }
h2 {
  color: #333;
  margin-bottom: 20px;
  margin-top: 15px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 10px;
}
ul {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  margin: 10px 0;
  white-space: nowrap;
}
strong {
  margin-right: 10px;
  color: #555;
}



.exhibition-hero{
position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
}
.hero-visit img{
  width: 100%;
  height: 50%;
}



/* ? Mobile menu */
a {
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: #777;
  }
  
 
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list .hamburger-item {
    /* margin-bottom: 10px;
    transition: margin-bottom 0.3s; */
    margin: 0;
    padding: 0;
  }
  
  .menu-list a {
    text-decoration: none;
    color: black;
    /* padding: 6px 8px; */
    display: block;
    text-align: center;
    /* transition: color 0.3s, background-color 0.3s; */
    line-height: 1.2;
    /* border-radius: 3px; */
  }
  
  .menu-list a:hover {
    color: var(--color-primary-100);
    background-color: var(--color-primary-700);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .menu-list a:active {
    color: white;
    background-color: #777;
  }
  .menu-list a i,
  .menu-list a {
    transition-duration: var(--transition);
  }
  .menu-list a:hover i {
    color: var(--color-primary-100);
  }
  
  
  .mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
    width: 100%;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    margin: auto 3px;
  }
  
  
  .meny {
    display: none;
    position: fixed;
    top: 65px;
    right: 10px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
    /* padding: 8px; */
    z-index: 1;
    overflow: hidden;
    box-shadow: var(--box-shadow-lg);
  }
  

  #hamburger-menu:checked + .meny { display: block; }
  #hamburger-menu { display: none; }

  /*
  TODO: Ikke ferdig

  ? Ikke ferdig

  ! Ikke ferdig

  * Ikke ferdig
  */
  .hamburger-item a {
    text-decoration: none;
    color: #010101; 
    display: flex;
    align-items: center; 
    padding: 18px 24px;
  }
  .fa-solid {
    margin-right: var(--med-padding); 
    color:  var(--color-primary-700);
  }
  /*Knappen Donate*/
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .donate-btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-primary-400); 
    border: 1px solid var(--color-black);
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .donate-btn:hover { background-color: #6BBEC8; }
/* ? Mobile menu end */
  
/* ! ####################################################### */
  
/* ? Bilder */
.logo img {
    height: auto;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.hero {
  position: relative;
}
.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, .75);
}
.hero-title {
  color: var(--color-white-100);
  font-size: 24px;
}
.slogan {
  color: var(--color-white-100);
  font-size: 16px;
  margin-bottom: 20px;
}
.slogan span {
  color: var(--color-primary-400);
  text-transform: uppercase;
  font-weight: 700;
}
.hero-explore-exhibition img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  
}
.css-carousel-container {
  width: 100%;
}
.box-row {
  width: 100%;
  height: 300px;
  padding: 2px;
  display: flex;
}
.box {
  flex: 1;
  padding: 2px;
	transition-duration: 0.5s;
}
.box:hover {
  flex: 3;
}
.box img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
.carousel-indicators {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-indicator {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 6px;
  background-color: var(--color-primary-700);
}
/*CSS carousel
.css-carousel-container {
  overflow-y: none;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
}
.css-carousel-container img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.box {
  height: 200px;
  width: 200px;
  background: white;
  margin-right: 5px;
  flex-shrink: 0;
  scroll-snap-align: start;
}
  
  /*Cards hovedsiden*/

  .cards, .cards-small {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12),
                0 2px 4px rgba(0, 0, 0, .24);
    border: 1px solid hsl( 0, 0%, 94%);
    padding: 12px;
    margin: 20px auto;   
    transition-duration: 0.2s;
  }
  .cards-small {
    background-color: rgb(245,245,245);
    color: black;
  }
  
  .cards-news {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .cards-small {
    display: flex;
    flex-direction: row;
  }
  .cards-small > * {
    flex: 1;
  }
  .cards-news img, .cards-small img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow:0 3px 6px rgba(0, 0, 0, .12),
    0 2px 4px rgba(0, 0, 0, .24);
  }
  
  .cards-news-description, .cards-news-description-small {
    text-align: center;
    margin: 10px;
  }
  .cards-news {
    align-items: center;
  }
  .cards-news-small {
    align-items: center;
  }
  

  .cards:hover {
  transform: scale(1.025);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.cards-small:hover {
    transform: scale(1.025);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/*Cards på exhibition*/
.cards-exhibitions {
  /* position: relative;
  overflow: hidden; */
  margin-bottom: 12px;
}


.cards-exhibitions-description h2 {
  margin-top: 0;
}

.cards-exsplore-exhibitions img {
 width: 100%;
 height: auto;
 display: block;
 top: 0;
 left: 0;
 background-image: url('./img/adris-george-1-1_11zon.jpg');
}


.cards-exhibitions-description p {
  margin-top: 6px;
}
.cards-exhibitions-description {
  /* position: relative; */
  /* z-index: 1; */
  padding: 0px 10px 24px 10px;
}
.cards-exhibitions-description p:first-child {
  margin-top: 0;
}
/*VISIT*/
.visit{
  line-height: 1.6;
  margin-bottom: 20px;
}

.admission-info,
.accessibility,
.food,
.shop,
.location {
  padding: var(--med-padding);
}
.admission-info p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}
.map {
  display: flex;
  justify-content: center;
  padding: var(--med-padding);
}
.map iframe {
  width: 100%;
  height: 250px;
}

/* ? Visit page / opening hours */
.opening-hours,
.admission-info,
.accessibility,
.food,
.shop,
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 30px 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.opening-hours-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.opening-days {
  display: block;
  min-width: 120px;
  text-align: right;
  border-bottom: 1px solid #6BCCB1;
  color: var(--color-primary-100);
}
.opening-time {
  display: block;
  min-width: 120px;
  text-align: left;
  border-bottom: 1px solid #6BCCB1;
}

.closed {
  color: #FC9CA2;
}
.opening-hours img {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 15px auto 0 auto;
  
}
.accessibility img,
.admission-info img,
.food img,
.shop img,
.location img {
  width: 100%;
  max-width: 200px;
}



/*Donate siden*/
.donation-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 100px auto 0 auto;
}

.donation-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}
.donation-options div {
  display: flex;
  justify-content: center;
}
.donation-options label {
  margin: 0 24px 0 6px;
}

input[type="text"] {
  padding: 8px;
  margin-top: 5px;
}

.donate-button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  text-decoration: none; 
  display: inline-block; 
  width: 100%;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.donate-button:hover {
  background-color: #45a049;
}
/*Tekst på donate siden.*/
.volunteering, .support, .internships {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.volunteering, .support, .internships h2 {
  color: #333;
}

.volunteering, .support, .internships p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 15px;
}
/*Iconer */
.color-icon{
  background-color: #7FFFD4;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; /* Er vh en god ide her? det må du sjekke mer opp i. */
}
.color-icon i{
  padding: 0;
  margin: 0;
  color: #000;
}
/*Footer*/
.gradient-footer {
  width: 100%;
  height: 250px;
  background: linear-gradient(to right top, rgba(127, 555, 212, 0.7), rgba(250, 250, 250, 0.7));
  color: black;
  text-align: center;
  padding: 20px;
  overflow: hidden;
  margin-top: -17px; 
}

/* .gradient-footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right top, rgba(127, 555, 212, 0), rgba(250, 250, 250, 0));
} */



/* 992 */
@media screen and (min-width: 768px) {

  .cards-exhibitions {
    display: flex;
    max-height: 400px;
    margin: 0;
  }
  .cards-exhibitions > * {
    width: 50%;
  }
  .cards-exhibitions.card-bg-primary-dark {
    flex-direction: row;
  }
  .cards-exhibitions.card-light {
    flex-direction: row-reverse;
  }
  .cards-exsplore-exhibitions img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  .cards-exhibitions-description {
    padding: 15px;
  }

}