
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: #fafafa;
color: hsl(0,0%, 20%);
font-family: 'Roboto', sans-serif;

}

header {
    background-color: hsla(0, 0%, 100%,0.85 );
    color: black;
    max-height: 75px;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-family: 'Lora', serif;
    padding: 10px;
}
h1{
    font-weight: 600;
}


.exhibition-hero {
position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
}

/*Mobile meny*/

a {
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: #777;
  }
  
 
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-list .hamburger-item {
    margin-bottom: 10px;
    transition: margin-bottom 0.3s;
  }
  
  .menu-list a {
    text-decoration: none;
    color: black;
    padding: 6px 8px;
    display: block;
    text-align: center;
    transition: color 0.3s, background-color 0.3s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    line-height: 1.2;
    border-radius: 3px;
  }
  
  .menu-list a:hover {
    color: white;
    background-color: #777;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .menu-list a:active {
    color: white;
    background-color: #777;
}
  
  
  .mobile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 8px;
    width: 100%;
  }
  
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    margin: auto 3px;
  }
  
  
  .meny {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    z-index: 1;
  }
  

  #hamburger-menu:checked + .meny {
    display: block;
  }
  
  #hamburger-menu {
    display: none;
  }
  
  

/*Bilder*/
.logo img{
    height: auto;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}



.hero img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}


/* Slideshow container W3 School med egen tweek */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }
  

  .mySlides {
    position: relative;
    display: none;
    opacity: 0;
  }
  
  .mySlides img {
    max-width: 100%;
    height: auto;
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    /*font-weight: bold;*/
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(127, 555, 212);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
   /* background-color: black;*/
  }
  
  .fade {
    opacity: 1;
  }
  
  /*Cards*/

  .cards, .cards-small {
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow:0 3px 6px rgba(0, 0, 0, .12),
    0 2px 4px rgba(0, 0, 0, .24);
    border: 1px solid hsl( 0, 0%, 94%);
    padding: 12px;
    margin: 20px auto;   
  }
  .cards-small{
    background-color: rgb(245,245,245);
    color: black;
  }
  
  .cards-news {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .cards-small {
    display: flex;
    flex-direction: row;
  }
  .cards-small > * {
    flex: 1;
  }
  .cards-news img, .cards-small img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow:0 3px 6px rgba(0, 0, 0, .12),
    0 2px 4px rgba(0, 0, 0, .24);
  }
  
  .cards-news-description, .cards-news-description-small {
    text-align: center;
    margin: 10px;
  }
  .cards-news {
    align-items: center;
  }
  .cards-news-small {
    align-items: center;
  }
  

  .cards:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.cards-small:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.gradient-footer {
        position: relative;
        width: 100%;
        height: 250px; 
        background: linear-gradient(to right top,rgb(127, 555, 212), rgba(250, 250, 250, 0)); 
        color: black;
        text-align: center;
        padding: 20px;
        overflow: hidden;
}

    
    
    